[submodule "peatio"]
	path = app/peatio
	url = https://github.com/rubykube/peatio.git
	branch = "1-8-stable"
[submodule "barong"]
	path = app/barong
	url = https://github.com/rubykube/barong.git
	branch = "1-8-stable"
[submodule "trading-ui"]
	path = app/trading-ui
	url = https://github.com/rubykube/peatio-trading-ui.git
	branch = "1-8-stable"
[submodule "toolbox"]
	path = app/toolbox
	url = https://github.com/rubykube/toolbox.git
	branch = "master"
